body {
    text-align: center;
}

.box {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 2px;
    border: solid 1px black;
}

.mixer img {
    height: 150px;
    background-color: rgb(107,192,221);
}